/*
Pattern navigation
*/
.nav-snippets {
    background: rgba( 255, 255, 255, 0.9 );
    border-top: 1px solid #D0D0D0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 10;
}
.nav-snippets li:before {
    display: none;
}
.nav-snippets ul,
.nav-snippets li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-snippets ul {
    display: flex;
}
.nav-snippets li {
    border-left: 1px solid #D0D0D0;
    flex: 1;
}
.nav-snippets li:first-child {
    border-left: none;
}
.nav-snippets a {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1.25vh 0.5em;
    padding: 1.25em 0.5em;
    text-align: center;
    text-transform: uppercase;
    -moz-transition: background-color 0.15s, color 0.15s;
     -ms-transition: background-color 0.15s, color 0.15s;
      -o-transition: background-color 0.15s, color 0.15s;
 -webkit-transition: background-color 0.15s, color 0.15s;
         transition: background-color 0.15s, color 0.15s;
}
.nav-snippets a.is-active {
    background-color: #404040;
    color: #FFF;
    text-decoration: none;
}

/*
XRAYHTML styles
*/
.xrayhtml {
    border-radius: 0;
    border-width: 1px 0;
    background: #FFF;
    clear: left;
    padding: 3.5em 0;
}
.xrayhtml:before {
    border: 1px solid #D0D0D0;
    border-color: rgba( 0, 0, 0, .5 );
    padding: 0.2em 0.5em;
}
.xrayhtml:before,
.xrayhtml.method-flip::before {
    background: #FFF;
    margin-top: -0.4em;
}
.xrayhtml .snippet,
.xrayhtml .source-panel {
    max-width: inherit;
}
.xrayhtml .snippet > * {
    margin: 0 10%;
    width: inherit;
}
.xrayhtml .snippet > div,
.xrayhtml.view-source .snippet > * {
    margin: 0;
}
.xrayhtml .source-panel {
    border: none;
    padding: 0;
}
.method-flip .source-panel {
    height: inherit;
    bottom: 0;
}

/*
Library-specific styles
*/
.tmpl-patterns {
    background: #E0E0E0;
    color: #505863;
}
.tmpl-patterns > * {
    margin-left: 1em;
    margin-right: 1em;
}
.tmpl-patterns > h2,
.tmpl-patterns > h3 {
    text-align: center;
}
.tmpl-patterns > h2:before,
.tmpl-patterns > h2:after {
    background: #C0C0C0;
    content: "";
    display: block;
    height: 1px;
    margin: 0.5em auto;
    width: 3em;
}
.tmpl-patterns > h2 {
    font-variant: small-caps;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    font-size: 1.5em;    /* 24/16 */
    margin: 3em auto;
}
.tmpl-patterns > h3 {
    font-size: 1.2em;
    margin: 4em auto;
}
.tmpl-patterns > h2 + h3 {
    margin-top: -2em;
}
.tmpl-patterns > div {
    margin-left: 0;
    margin-right: 0;
}

.tmpl-patterns a.btn {
    background: #35C0A9;
    border-radius: 0.4em;
    clear: left;
    color: #FFF;
    float: right;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-top: -0.9em;
    margin-right: 1em;
    padding: 0.2em 0.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;
}

.tmpl-patterns > hr {
    background: #999;
    display: block;
    border: none;
    clip: initial;
    height: 1px;
    margin: 4em auto;
    position: static !important;
    max-width: 64rem;
}

/*
Styles to get the site’s patterns to work in XRAYHTML’s viewer
*/
.tmpl-patterns .snippet > div {
    margin: 1em auto;
    max-width: 1020px;
    max-width: 63.75rem;
}
.tmpl-patterns .snippet > .pg-section,
.tmpl-patterns .snippet > .section-alt,
.tmpl-patterns .snippet > .story-featured {
    max-width: inherit;
}
.tmpl-patterns .snippet .pg-footer {
    margin-top: 2em;
}

.tmpl-patterns [data-xrayhtml] > .project-brief,
.tmpl-patterns .snippet > .project-brief {
    margin: 1em;
    max-width: 200px;
}
.tmpl-patterns .snippet > .bio-brief {
    margin: 1em;
    max-width: 400px;
}

.empty .snippet > .l-grid .group,
.empty .snippet > .l-grid .group-alt,
.empty .snippet > .l-has-rail .group,
.empty .snippet > .l-has-rail .group-alt,
.empty .snippet > .l-equal .group,
.empty .snippet > .l-equal .group-alt,
.empty .snippet > .l-has-rails .group,
.empty .snippet > .l-has-rails .group-alt {
    background: #EEE;
}
.empty .snippet > .l-equal .group,
.empty .snippet > .l-equal .group-alt {
    padding-top: 0;
}
.empty .snippet > .l-has-rail .l-grid .group {
    background: #D0D0D0;
    margin-top: 0;
    margin-bottom: 0;
}
.empty .snippet > .l-grid p,
.empty .snippet > .l-equal p,
.empty .snippet > .l-has-rail p,
.empty .snippet > .l-has-rails p {
    margin: 1em 0.5em;
}
.l-has-rail > * {
    padding-top: 0;
}